<!DOCTYPE html>
{% load static %}
<!--
Hello. I'm often looking for new opportunities. This website serves as
an opportunity for me to resurrect my Django skills. It's nothing
spectacular, but it represents only a few days' effort. Improvements
to come...

I'm interested in full-time employment as well as opportunities to
contribute to interesting open source projects. Feel free to contact
me!

Mike Burr <mburr@unintuitive.org>
-->

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="saxophone, sax, piano, clarinet, music lesson, milpitas, san jose, fremont, south bay area, bay area, silicon valley, online, experienced, japanese, female, bilingual" />
<title>Lessons</title>
    <link rel="shortcut icon" href="{% static 'tabs/bin/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tabs/style.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/tabs/style-{{ current_tab.name }}.css">
  </head>

<div class="menu">
<ul>
  {% for tab in tabs %}
  {% if tab == current_tab %}
  <li><a class="active" href="{% url 'tab' tab.name %}">{{ tab.label }}</a></li>
  {% else %}
  <li><a href="{% url 'tab' tab.name %}">{{ tab.label }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
</div>

<div class="content">

{% if current_tab.name != "home" %}  {# unfortunate one-off #}
<h2>{{ current_tab.label }}</h2>
{% endif %}

{{ content.english|safe }}
{{ content.japanese|safe }}

{% if current_tab.name == "contact" %}
{% include "tabs/contact.html" %}
{% endif %}

</div>

</html>
